body {
  height: 100%;
  margin: 0;
}

#steps {

}

section {
  height: 100vh;
  position: relative;
}

.container {
  padding: 30px;
}

.map {
  position: absolute;
  width: 100%;
  height: 100%;
}

.button-bottom {
  position: absolute;
  bottom: 30px;
  width: 100%;
}

.button-bottom button {
  display: block;
  margin: 0 auto;
  z-index: 100;
}

button {
  background-color: rgba(255, 255, 255, 1);
  font-size: inherit;
  text-transform: none;
  font-weight: normal;
}

.leaflet-container {
  background: none;
}

/* Step: Introduction
–––––––––––––––––––––––––––––––––––––––––––––––––– */



/* Step: Map
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#step-map-hole {
  position: absolute;
  width: 100%;
  height: 100%;

  background-image: url('../images/circle-hole.svg');
  background-repeat: no-repeat;
  background-position: center;

  pointer-events: none;
}

/* Step: Overpass API
–––––––––––––––––––––––––––––––––––––––––––––––––– */


.CodeMirror {
  height: 122px;
}
